    body{
        margin: 0;
        background-color: #292828;
    }

    .website {
         border: 2px solid #CDA8E2;
         border-radius: 15px;
         background-color: #202020;
         overflow: hidden;
    }


    /* Keep Top Navigation Bar at top of screen always */
    header {
    position: sticky;
    top: 0;
    z-index: 1000;
    }

    .navigationBar {
    padding: 50px 35px 25px;
    }

    .browser-Crcles {
    display: flex;
    gap: 12px;

    margin-bottom: 55px;
    }

    .browserCircles span {
    width: 18px;
    height: 18px;

    border: 2px solid #d5d64a;
    border-radius: 50%;

    display: block;
    }


   



   













